---
---

@import "{{ site.theme }}";

.page-header {
    background-image: linear-gradient(120deg, #155799, #AA0000);
}
.main-content {
    max-width: 120rem;
    
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #AA0000;
  }
}


@media screen and (max-width: 42em)  {
/* Credits https://codepen.io/paulobrien/pen/KxhFk */
  table, tbody, thead, tbody, th, td, tr {
    display: block;
    float:left;/* ie9 fix */
    width:100%;
    clear:both;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td:before {
    float:left;
    padding:0 0 0 1%;
    text-align: right;
    display: block;
    margin-left: -46%;
    width: 40%;
  }
  .main-content table td {
    padding-left: 31%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box; 
    text-align: left !important;
  }

  tr {
    margin: 2em 0
  }
  
  /* Label the data	*/
  td:nth-of-type(1):before {content: "To Administer	";}
  td:nth-of-type(2):before {content: "Module Name";}
  td:nth-of-type(3):before {content: "Stable Version";}
  td:nth-of-type(4):before {content: "How To Install";}
  td:nth-of-type(5):before {content: "Preview Version";}
  td:nth-of-type(6):before {content: "How To Install";}
  td:nth-of-type(7):before {content: "How to Connect";}
  td:nth-of-type(8):before {content: "Works in PS7?";}
}